# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

./dependency-management/checkneighbours_example/.gradle/
./dependency-management/checkneighbours_example/build/